body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}

.container {
    margin: 0 10%;
}

.banner {
    padding: 100px 0px;
}

.felxible-container {
    display: flex;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 40px;
}

.orange-color {
    color: orange;
}

.banner-content p {
    font-size: 20px;

}

.banner-content a {
    font-size: 20px;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;

}

.banner-content img {
    width: 100%;
    display: block;
}